





.container {
    width: 100%;
    height: 100vh;
    background-color: #2b2b2b;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto",Sans-serif;
}

.card{
    width: 380px;

    /* The perspective property is used to give a 3D-positioned element some perspective. */
    /* When defining the perspective property for an element, 
    it is the CHILD elements that get the perspective view, 
    NOT the element itself. */

    perspective: 1000px;
    cursor: pointer;

}

.card-inner{
    position: relative;
    width: 100%;
    text-align: center;

    /* The transform-style CSS property sets whether children of an element 
    are positioned in the 3D space or are flattened in the plane of the element. */

    transform-style: preserve-3d;

    /* transforms move or change the appearance of an element,
     while transitions make the element smoothly and gradually
      change from one state to another. */
    
      transition: transform 1s;
}

.front-face{
    /* Hide and show the back face of two rotated <div> elements: */

    backface-visibility: hidden;
}


.front-face img{
    width: 100%;
    border-radius: 10px;
}

.back-face{
    backface-visibility: hidden;
    background-color: #c62600;
    color: #fff;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
   border-radius:10px;
   display: flex;
   justify-content: center;
   flex-direction: column;
   
   /* The rotateY() CSS function defines a transformation that 
   rotates an element around the ordinate (vertical axis) 
   without deforming it. Its result is a <transform-function> data type. */

   transform: rotateY(180deg);
}

.back-face h2{
    font-size:50px;
    margin-top:10px;
    font-weight:600px;
}


.back-face p{
    font-size:26px;
    font-weight:300px;
}




.social-media span{
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    margin: 25px 6px;
}



.social-media a{
    text-decoration: none;
    color: #fff;
    background:  #e43a00;
    padding: 10px;
    vertical-align: middle;
    border-radius: 50%;
}

.twitter{
    font-size:20px;
}

.facebook{
    font-size:16px;

}


.btn{
    color: #333;
    font-size: 20px;
    text-decoration: none;
    background: #fff;
    padding: 10px 50px;
    border-radius: 25px;
    margin: 80px auto 0;
}


.card:hover .card-inner{
    transform: rotateY(-180deg);
}
