@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
}
/* NAVBAR */
.header {
  background-color: #1d2327;
  color: white;
  width: 100%;
  font-size: 12px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  display: flex;
  text-align: center;
  position:sticky;
  top: 0;
  /* flex-direction: row */
}

.wordpress-icon {
  width: 25px;
  height: 25px;
  position: relative;
  top: 2px;
  color: rgba(240, 246, 252, 0.6);
  float: left;
}

.iconify {
  color: rgba(240, 246, 252, 0.6);
}

.buyhair-word {
  font-size: 12px;
  color: #f0f0f1;
  padding-left: 5px;
  font-weight: 300;
  padding-bottom: 5px;
  text-align: center;
}

.house {
  width: 15px;
  height: 15px;
}

.comment {
  display: flex;
  padding-left: 22px;
  padding-top: 10px;
  text-align: center;
}

p .comment-icon {
  padding-right: 4px;
  /* margin-right: 10px;      */
  /* display: none; */
}

/* .comment-icon{
    width: 15px;
    height:15px;
} */

.zero {
  color: rgba(240, 246, 252, 0.6);
}

.wordpress-img-container {
  padding: 0px 7px;
  /* margin-right: -362px;
  width: 23%;
  height: 23%; */
}

.buyhair-container {
  /* padding-left: 44px; */
  position: relative;
  /* float: left; */
  text-align: center;
  padding-top: 8px;
  display: flex;
}

.wordpress-img {
  color: rgba(240, 246, 252, 0.6);

  padding: 0px 7px;
  width: 25px;
  height: 25px;
}

.home-img {
  background-color: rgba(240, 246, 252, 0.6);
}

.house-icon {
  margin: 0px 6px 0px 0px;
  padding: 4px 0px;
}

.notification-container {
  padding: 0px 8px 0px 7px;
}

.zero {
  font-size: 13px;
  color: #f0f0f1;
}

.plus-container {
    display: flex;

    padding-left: 25px;
  position: relative;
  /* float: left; */
  text-align: center;
  padding-top: 8px;
  
}

.new-word{
    font-size: 12px;
    color: #f0f0f1;
    padding-left: 5px;
    font-weight: 400;
    padding-bottom: 5px;
    text-align: center;
}

.plus{
    height: 16px;
    width: 16px;
}

.maintenance-container{
    display: flex;
    background-color: #dc3232;
    color: #f0f0f1;
    font-size: 13px;
    width: 11%;
    margin-left: 10px;
    justify-content:space-between;
  }

.key-icon {
    height: 16px;
    width: 16px;
    padding-top: 5px;
    margin-left: 5px;
}

.maintenance-word{
     margin-top:5px;
    font-weight: 400;
    margin-right: 3px;
   
}

.greeting-container{
    display: flex;
    margin-left: 985px;
    color: #fff;
   
}

.greeting{
    position: relative;
    float: right;
    color: #f1f1f1;
    font-size: 12px;
    font-weight: 300;
}

.greeting-container > a{
  margin-bottom: 5px;
  text-decoration: none;
  padding-top: 10px;
  padding-right: 5px;
}

/* .greeting > span{
  margin-bottom: 5px;
  padding-right: 3px;
} */

.avatar{
  border: 1px solid #8c8f94;
   background: #cacaca;
   color: #fff;
   width: auto;
   height: 16px;
   margin-top: 5px;
}










/* ASIDE */

.side-bar {
  background-color: #1d2327;
  height: 100vh;
  width: 10%;
  color: #f0f0f1;
  position: fixed;
  
  
}

li{
  cursor: pointer;
}

 li:hover .li-span{
  color: #2ea2cc;
  
}

li:hover{
  border-left: 5px solid #2ea2cc;
}



.sidebar-cover ul {
 
  list-style: none;
}

.sidebar-cover ul li {
  padding: 10px 5px;
}

/* .dashboard {
  padding-top: 45px;
}

.lookbook {
  padding: 8px 8px 8px 36px;
} */


.sidebar-centerbox-container{
  /* position: relative; */
  display: flex;
  /* justify-content: space-between; */
  width: 100%;

}

.center-box{
 width: 70%;
margin: 0 auto;
padding-top: 10px;
background: #3858e9;
margin-top: 25px;
background-image: url(./balloon-wordpress.svg);
background-repeat: no-repeat;
background-position: right;
background-size: 350px 350px;
min-height: 300px;
display: flex;
flex-direction: column;
justify-content: center;
padding-left: 20px;

}

.center-box-container{
  width: 100%;
  /* margin: 0 auto; */
  /* justify-self: flex-end; */
  margin-left: 10%;
}

.header-word{
  font-size: 72px;
  padding:  0px 0px 8px;
  color: #fff;
  
}
.header-paragraph{
  
  font-size: 1.6rem;
   line-height: 1.15;
  /* margin: 0px 0px 112px; */
  /* padding: 0px 380px 0px 32px; */
  color: #fff;
  
}

.second-nav{
  width: 70%;
margin: 0 auto;
text-align: center;
color: #000;
font-size: 18.2px;
padding: 20px;
}

.second-nav > a{
  padding: 20px;
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.second-nav > a:hover{
  background-color: #3858e9;
  color: #fff;
}

.second-nav > a:active{
  border-bottom: 5% solid #3858e9;
 background-color: #fff;
}

.header-text{
  color: #1d2327;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  font-size: 31.2px;
  padding-top:50px;
  margin-bottom:15.6px;
}

.paragraph-div{
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
.paragraph-div > p{
  font-size:28.08px;
  color:#000;
  margin-bottom: 28px;
}

.image-1-container{
  width: 70%;
  margin: 0 auto;
  text-align: left;
  display: flex;
  margin-top: 70px;
  
}

.image-1-texts{
  padding-left: 30px;
}

.image-1-texts > h3{

font-size: 24.96px;
color: #1d2327;
margin-bottom: 15px;
}



.image-1-texts > p{
 
  font-size: 18px;
  color: #1d2327;
  margin-bottom: 15px;
  line-height: 1.5rem;
  
  }


.image-1{
  max-width: 55%;
  width: 55%;
  height: auto;
}


.image-2-texts{
  padding-right: 30px;
  text-align: left;
}

.image-2-texts > h3{
 
  font-size: 24.96px;
  color: #1d2327;
  margin-bottom: 15px;
  }
  
  .image-2-texts > p{
 
    font-size: 18px;
    color: #1d2327;
    margin-bottom: 15px;
    line-height: 1.5rem;
    }

    .footer{
      width: 70%;
      margin: 0 auto;
      display: flex;
      margin-top: 70px;
      flex-wrap: nowrap;
    }

    .what-new{
      border-bottom: 10px solid #3858e9;
    }








