*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
    font-family: 'poppins' sans-serif;
}


.top-container{
    width: 70%;
    background-color: #fff;
    margin: 0 auto;
    color: #576f7f;
    border-top: 1px solid rgb(85, 85, 85);
}


.top-left-container{
    font-family: 'poppins' sans-serif;
    width: 40%;
    padding-top: 80px;
    
}
.head-text{
    line-height: 2.2rem;
    font-weight: 800;
    font-size: 150%;
}


.logos-logo{
    width: 50.4px;
    height: 50.4px;
}

.top-right-container{
    width: 30%;
}