
body {
    background: #edf1f5;
}

.progress{
    margin: 50px auto;
    padding : 2px;
    width : 100%;
    max-width: 500px;
    background: #fff;
    border: 3px solid #000;
    border-radius: 20px;
    height: 30px;
}

.progress .progress_bar{
    height: 100%;
    width: 5%;
    border-radius: 15px;
    background: repeating-linear-gradient(
        135deg, 
        #036ffc,
        #036ffc 20px,
        #1163cf 20px,
        #1163cf 40px

    );
    animation: fill-bar 3s infinite;
}




@keyframes fill-bar{
    from {width: 5%;}
    to {width: 100%;}
}