

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background:url("./coffee.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.navbar{
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    transition: background 1s;
   
}
.navbar:hover{
    background-color: #232;
}

.page-container{
    /* background: rgb(122, 122, 122); */
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
}

/* .page-container:hover{
background-color: burlywood;
} */

.page-container a{
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    font-weight: 600px;
    justify-content: center;
}

.iconify{
    padding-top: 3px;
}

.lists-container > ul{
    display: flex;

}

.home{
    background-color: #ad4218;
    border-radius: 3px;
}


ul > li{
    list-style: none;
    padding: 10px;
    margin-right:3px;
    border-radius: 3px;
}

li:hover{
    cursor: pointer;
    background-color: burlywood;
    color: #fff
 
}

.main{
    width: 100%;
}


.main{
    margin-top: 10%;
    margin-left: 9%;
    color: #fff;
}

.main h1{
    font-size: 120px;
    font-family: "Roboto",Sans-serif;
    line-height:140px;
    font-weight: 600;;
}

.main p{
    max-width: 500px;
    line-height:28px;
    opacity: 0;
    font-size: 18px;
}

.slide-left{
    animation: slide-left 1s linear forwards;

}
@keyframes slide-left {
    0% {
        transform: translate(100px);
        opacity:0;
    }

    100% {
        transform: translate(0px);
        opacity: 1;
    
    }
}

p.slide-left{
    animation-delay: 1s;
}





